[submodule "lib/AVR_SPI"]
	path = lib/AVR_SPI
	url = https://github.com/Hessi02/AVR_SPI.git
[submodule "lib/avr-libstdcpp"]
	path = lib/avr-libstdcpp
	url = https://github.com/modm-io/avr-libstdcpp.git
